.contacts
    a.contact(href="tel:0364532048")
        i.fa.fa-mobile.contact__icon(aria-hidden="true")
        span.contact__text 0364532048
    a.contact(href="mailto:anhson713@gmail.com")
        i.fa.fa-envelope.contact__icon.contact__icon--email(aria-hidden="true")
        span.contact__text anhson713@gmail.com
    a.facebook-icon(href="facebook.com")
        i.fa.fa-facebook(aria-hidden="true")